html {
    font-size: 62.5%; /* Sets up the Base 10 stuff */
}
body {
    font-family: $font-primary;
    @include font-size(1.6);
    color: $color-dark;
}
h1 {
    font-family: $font-secondary;
    margin: 2.4rem 0;
    @include font-size(6);
    @include media-breakpoint-up(lg) {
        @include font-size(10.5);
    }
    &.headline {
        font-family: $font-cursive;
    }
}

h2 {
    @include font-size(2);
    @include media-breakpoint-up(md) {
        @include font-size(2.5);
    }
}
span {
    color: $color-grey;
    line-height: 1.2;
    text-transform: uppercase;
    margin-right: 2rem;
    &.light {
        color: theme-color(light);
    }
}
label {
    font-family: $font-secondary;
    @include font-size(1.6);
    font-weight: 800;
}
p {
    font-family: $font-secondary;
    @include font-size(1.8);
    letter-spacing: 0.106rem;
}
a {
    @extend .animation-line;
    color: theme-color(tertiary);
    font-weight: bold;
    text-decoration: none;
    &.nav-link {
        text-transform: capitalize;
        letter-spacing: 0;
        font-weight: 800;
    }
}

// UTILITIES
.cursive {
    font-family: $font-cursive;
    font-size: 4.9rem;
    letter-spacing: 0.23rem;
}



   