//  FONTS
$font-primary: 'Nunito Sans', sans-serif;
$font-cursive: 'Cursive', serif;
$font-secondary: 'Halant',serif;

//  COLORS
$color-light: #F4EFEA;
$color-dark: #262626;
$color-grey: #999;
$color-blue: #175579;
$color-blue-dark: #15466B;
$color-blue-light: #007bff;

$theme-colors: (
    "primary": $color-blue-dark,
    "secondary": $color-blue,
    "tertiary": $color-blue-light,
    "light": $color-light,
);
