// HTML ELEMENTS
html,
body {
    height: 100%;
    overflow: hidden;
}
body {
    background-color: $color-light;
    margin: 0;
    padding: 0;
    // @include media-breakpoint-down(sm) { //bg picture
    //     background: url("https://scontent-iad3-1.cdninstagram.com/vp/215bcbcb4b2b3935ac4c4c6acf490060/5D0DC46A/t51.2885-15/e35/51251789_248659329421971_4639326272432297006_n.jpg?_nc_ht=scontent-iad3-1.cdninstagram.com") no-repeat center center fixed;
    //     -webkit-background-size: 100%;
    //     -moz-background-size: cover;
    //     -o-background-size: cover;
    //     background-size: cover;
    //     background-color: theme-color(secondary);
    //     background-blend-mode: overlay;
    // }
}
// IMAGES
img {
    height: 100%;
    width: 100%;
    &-full {
        position: absolute;
        content: '';
        background-size: cover;
    }
}
.icon {
    
    &--social {
        width: 3.2rem;
        height: 3.2rem;
        transition: all 0.4s;
        &:hover {
            transform: translateY(-10px);
        }
    }
}

// BACKGROUNDS
.bg {
    &-dark {
        background-color: theme-color("primary") !important;
    }
    &-light {
        background-color: $white !important;
    }
    &-overlay {
        &:after {
            background-color: $dark;
            position: absolute;
            content: '';
            top: 100%;
            right: 100%;
            z-index: 1;
        }
    }
}
// -- VIDEO
.bg-video-wrapper {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: theme-color(primary);
        mix-blend-mode: multiply;
        opacity: 0.8;
    }
}
.bg-video-wrapper iframe {
    @include media-breakpoint-up(sm) {
        display: block;
        min-height: 100vh;
    }
    min-height: 150vh;
    width: 100vw;
    height: 56.25vw;
    /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-width: 177.77vh;
    /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// CUSTOM ELEMENTS
.global__hero {
    height: 100%;
    .left__content {
        padding: 0 
    }
}
button {
    &.btn {
        height: 100%;
        padding: 0 1rem;
        @extend .transition-time;
        &:hover {
            transform: translateX(10px);
        }
        @include media-breakpoint-up(md) {
            padding: 0 3rem;
        }
    }
    i {
        color: $color-light;
        font-size: 30px;
    }
}